Repository epam/ai-dial-chat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikitabut, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike, @nepalevov, @alexey-ban, @irinakartun

fix: remove redundant libs
  package-lock.json
  package.json
Owners: @mikitabut, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

fix: update docs
  apps/chat-e2e/.env.development
  apps/chat/README.md
  apps/chat/environment.d.ts
Owners: @irinakartun, @mikitabut, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

feat/overlay-e2e-config: test changes to revert
  apps/chat-e2e/src/testData/expectedConstants.ts
  apps/chat-e2e/src/tests/overlay/overlay.test.ts
Owners: @irinakartun

feat(chat): redesign publication filters (Issue #1640) (#1673)
  apps/chat/src/components/Chat/Publish/CompareRulesModal.tsx
  apps/chat/src/components/Chat/Publish/FilterFunctionSelect.tsx
  apps/chat/src/components/Chat/Publish/HandlePublication.tsx
  apps/chat/src/components/Chat/Publish/PublishWizard.tsx
  apps/chat/src/components/Chat/Publish/RegexParamInput.tsx
  apps/chat/src/components/Chat/Publish/RuleListItem.tsx
  apps/chat/src/components/Chat/Publish/RulesSelect.tsx
  apps/chat/src/components/Chat/Publish/TargetAudienceFilter.tsx
  apps/chat/src/components/Chat/Publish/TargetAudienceFilterComponent.tsx
  apps/chat/src/components/Chat/Publish/UserGroupFilter.tsx
  apps/chat/src/components/Chat/__tests__/TargetAudienceFilter.test.tsx
  apps/chat/src/components/Common/MultipleComboBox.tsx
  apps/chat/src/store/publication/publication.epics.ts
  apps/chat/src/store/publication/publication.selectors.ts
  apps/chat/src/types/publication.ts
  apps/chat/src/utils/app/data/publication-service.ts
Owners: @mikitabut, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

fix(chat): hide folder checkboxes in Manage attachments (Issue #1665) (#1684)
  apps/chat/src/components/Chatbar/ChatbarSettings.tsx
  apps/chat/src/components/Files/FileManagerModal.tsx
Owners: @mikitabut, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

feat(chat): add ability to have multiple select for files / prompts / conversations (Issue #1531) (#1614)
  apps/chat-e2e/src/core/localStorageManager.ts
  apps/chat-e2e/src/testData/expectedConstants.ts
  apps/chat-e2e/src/testData/expectedMessages.ts
  apps/chat-e2e/src/tests/chatBarConversation.test.ts
  apps/chat-e2e/src/tests/chatBarFolderConversation.test.ts
  apps/chat-e2e/src/tests/prompts.test.ts
  apps/chat-e2e/src/tests/workWithModels.test.ts
  apps/chat-e2e/src/ui/webElements/chatBar.ts
  apps/chat-e2e/src/ui/webElements/chatMessages.ts
  apps/chat/src/components/Chat/ChatHeader.tsx
  apps/chat/src/components/Chatbar/ChatFolders.tsx
  apps/chat/src/components/Chatbar/Chatbar.tsx
  apps/chat/src/components/Chatbar/ChatbarSettings.tsx
  apps/chat/src/components/Chatbar/Conversation.tsx
  apps/chat/src/components/Common/FolderContextMenu.tsx
  apps/chat/src/components/Common/ItemContextMenu.tsx
  apps/chat/src/components/Files/FileManagerModal.tsx
  apps/chat/src/components/Folder/Folder.tsx
  apps/chat/src/components/Promptbar/Promptbar.tsx
  apps/chat/src/components/Promptbar/components/Prompt.tsx
  apps/chat/src/components/Promptbar/components/PromptFolders.tsx
  apps/chat/src/components/Promptbar/components/PromptbarSettings.tsx
  apps/chat/src/store/conversations/conversations.epics.ts
  apps/chat/src/store/conversations/conversations.reducers.ts
  apps/chat/src/store/conversations/conversations.selectors.ts
  apps/chat/src/store/conversations/conversations.types.ts
  apps/chat/src/store/prompts/prompts.epics.ts
  apps/chat/src/store/prompts/prompts.reducers.ts
  apps/chat/src/store/prompts/prompts.selectors.ts
  apps/chat/src/store/prompts/prompts.types.ts
  apps/chat/src/styles/globals.css
Owners: @irinakartun, @mikitabut, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

fix(chat): scroll down icon position (Issue #1611, #1632, #1660) (#1654)
  apps/chat/src/components/Chat/Chat.tsx
  apps/chat/src/components/Chat/ChatExternalControls.tsx
  apps/chat/src/components/Chat/NotAllowedModel.tsx
  apps/chat/src/components/Chat/Playback/PlaybackControls.tsx
  apps/chat/src/components/Chat/Publish/PublicationChatControls.tsx
Owners: @mikitabut, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

resolve merge conflicts
  apps/chat/src/components/Chat/Publish/CompareRulesModal.tsx
  apps/chat/src/components/Chat/Publish/FilterFunctionSelect.tsx
  apps/chat/src/components/Chat/Publish/HandlePublication.tsx
  apps/chat/src/components/Chat/Publish/PublishWizard.tsx
  apps/chat/src/components/Chat/Publish/RegexParamInput.tsx
  apps/chat/src/components/Chat/Publish/RuleListItem.tsx
  apps/chat/src/components/Chat/Publish/RulesSelect.tsx
  apps/chat/src/components/Chat/Publish/TargetAudienceFilter.tsx
  apps/chat/src/components/Chat/Publish/TargetAudienceFilterComponent.tsx
  apps/chat/src/components/Chat/Publish/UserGroupFilter.tsx
  apps/chat/src/components/Chat/__tests__/TargetAudienceFilter.test.tsx
  apps/chat/src/components/Common/MultipleComboBox.tsx
  apps/chat/src/store/publication/publication.epics.ts
  apps/chat/src/store/publication/publication.selectors.ts
  apps/chat/src/types/publication.ts
  apps/chat/src/utils/app/data/publication-service.ts
Owners: @mikitabut, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

icon proxy
  apps/chat/src/components/Chatbar/ModelIcon.tsx
  apps/chat/src/pages/_document.tsx
  apps/chat/src/pages/api/auth/[...nextauth].ts
  apps/chat/src/pages/api/themes/image/[name].ts
  apps/chat/src/pages/api/themes/styles.ts
  apps/chat/src/utils/app/themes.ts
Owners: @mikitabut, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

feat(chat): redesign approve required modal (Issue #1676) (#1678)
  apps/chat-e2e/src/ui/webElements/sideBar.ts
  apps/chat/src/components/Chat/ChatHeader.tsx
  apps/chat/src/components/Chat/Publish/HandlePublication.tsx
  apps/chat/src/components/Chat/Publish/PublicationChatControls.tsx
  apps/chat/src/components/Common/CollapsibleSection.tsx
  apps/chat/src/components/Common/ReplaceConfirmationModal/Components.tsx
  apps/chat/src/components/Promptbar/components/PreviewPromptModal.tsx
  apps/chat/src/store/publication/publication.epics.ts
  apps/chat/src/types/common.ts
Owners: @irinakartun, @mikitabut, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

fix login logo
  apps/chat/src/pages/api/auth/[...nextauth].ts
Owners: @mikitabut, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

fix/1158-image-proxy: fixed e2e tests for proxied icons
  apps/chat-e2e/src/testData/api/iconApiHelper.ts
  apps/chat-e2e/src/testData/expectedConstants.ts
Owners: @irinakartun

Update apps/chat-e2e/src/testData/expectedConstants.ts
  apps/chat-e2e/src/testData/expectedConstants.ts
Owners: @irinakartun

.github/CODEOWNERS:

* @mikitabut @denys-kolomiitsev @Alexander-Kezik @IlyaBondar @Derikyan @likeamike
/.github/ @nepalevov @alexey-ban
/apps/chat-e2e/ @irinakartun
/apps/overlay-sandbox-e2e/ @irinakartun
