Repository epam/ai-dial-chat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gimir, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike, @nepalevov, @alexey-ban, @irinakartun, @nartovm

PGPT-425: Fix translations
  apps/chat/public/locales/cn/chat.json
  apps/chat/public/locales/cn/common.json
  apps/chat/public/locales/cn/folder.json
  apps/chat/public/locales/en/chat.json
  apps/chat/public/locales/en/common.json
  apps/chat/src/components/Chat/ChatInput/ChatInputMessage.tsx
  apps/chat/src/components/Chat/ChatMessagesEmpty.tsx
  apps/chat/src/components/Chat/SystemPrompt.tsx
  apps/chat/src/pages/api/models.ts
Owners: @Gimir, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

lint
  apps/chat-e2e/src/core/dialFixtures.ts
  apps/chat-e2e/src/tests/chatSelectionFunctionality.test.ts
Owners: @irinakartun, @nartovm

fix(chat): apply response error parser for request
  apps/chat/src/utils/server/api.ts
  apps/chat/src/utils/server/server.ts
Owners: @Gimir, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

review fix
  apps/chat-e2e/src/tests/chatSelectionFunctionality.test.ts
Owners: @irinakartun, @nartovm

feat(chat): redesign error messages (Issue #1889) (#1890)
  apps/chat-e2e/src/tests/errorUploadFromDevice.test.ts
  apps/chat-e2e/src/ui/webElements/attachFilesModal.ts
  apps/chat-e2e/src/ui/webElements/uploadFromDeviceModal.ts
  apps/chat/src/components/Common/ErrorMessage.tsx
  apps/chat/src/components/Toasts/Toasts.tsx
Owners: @irinakartun, @nartovm, @Gimir, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

fix(chat): fix error matching in accept invite
  apps/chat/src/store/share/share.epics.ts
Owners: @Gimir, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

fix(chat): fix sending ofempty attachments (Issue #1717)
  apps/chat/src/components/Chat/Publish/PublishWizard.tsx
  apps/chat/src/utils/server/chat.ts
Owners: @Gimir, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

fix(chat): fix sending of empty attachments (Issue #1717) (#1891)
  apps/chat/src/components/Chat/Publish/PublishWizard.tsx
  apps/chat/src/utils/server/chat.ts
Owners: @Gimir, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

application publication
  apps/chat/src/components/Chat/ConversationSettingsModels.tsx
  apps/chat/src/components/Chat/ModelList.tsx
  apps/chat/src/components/Chat/ModelsDialog.tsx
  apps/chat/src/components/Chat/Publish/PublicationChatControls.tsx
  apps/chat/src/components/Chat/Publish/PublicationHandler.tsx
  apps/chat/src/components/Chat/Publish/PublicationResources.tsx
  apps/chat/src/components/Chat/Publish/ReviewApplicationDialog.tsx
  apps/chat/src/components/Common/ApplicationDialog.tsx
  apps/chat/src/components/Common/ReplaceConfirmationModal/Components.tsx
  apps/chat/src/pages/api/ops/[...slug].ts
  apps/chat/src/store/application/application.epics.ts
  apps/chat/src/store/application/application.reducers.ts
  apps/chat/src/store/models/models.epics.ts
  apps/chat/src/store/models/models.reducers.ts
  apps/chat/src/store/publication/publication.epics.ts
  apps/chat/src/store/publication/publication.reducers.ts
  apps/chat/src/store/publication/publication.selectors.ts
  apps/chat/src/types/applications.ts
  apps/chat/src/types/models.ts
  apps/chat/src/utils/app/conversation.ts
Owners: @Gimir, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

feat(chat-e2e): select searched entities tests (#1870)
  apps/chat-e2e/src/assertions/chatMessagesAssertion.ts
  apps/chat-e2e/src/assertions/folderAssertion.ts
  apps/chat-e2e/src/assertions/playbackAssertion.ts
  apps/chat-e2e/src/assertions/recentEntitiesAssertion.ts
  apps/chat-e2e/src/core/dialFixtures.ts
  apps/chat-e2e/src/testData/conversationHistory/conversationData.ts
  apps/chat-e2e/src/testData/expectedMessages.ts
  apps/chat-e2e/src/tests/chatExportImportWithAttachment.test.ts
  apps/chat-e2e/src/tests/conversationNameNumeration.test.ts
  apps/chat-e2e/src/tests/playBack.test.ts
  apps/chat-e2e/src/tests/promptNumeration.test.ts
  apps/chat-e2e/src/tests/selectChatPanelEntity.test.ts
  apps/chat-e2e/src/tests/selectPromptPanelEntity.test.ts
  apps/chat-e2e/src/ui/selectors/chatSelectors.ts
  apps/chat-e2e/src/ui/webElements/baseElement.ts
  apps/chat-e2e/src/ui/webElements/folders.ts
  apps/chat-e2e/src/ui/webElements/index.ts
  apps/chat-e2e/src/ui/webElements/playbackControl.ts
  apps/chat-e2e/src/ui/webElements/playbackMessage.ts
  apps/chat/src/components/Chat/Playback/PlaybackAttachments.tsx
Owners: @irinakartun, @nartovm, @Gimir, @denys-kolomiitsev, @Alexander-Kezik, @IlyaBondar, @Derikyan, @likeamike

.github/CODEOWNERS:

* @Gimir @denys-kolomiitsev @Alexander-Kezik @IlyaBondar @Derikyan @likeamike
/.github/ @nepalevov @alexey-ban
/apps/chat-e2e/ @irinakartun @nartovm
/apps/overlay-sandbox-e2e/ @irinakartun @nartovm
